---
title: О компании
about: 'is-active'
---
{% extends "layouts/_layout.html" %}

{% block content %}

{% include "layouts/_header.html" %}

{% include "partials/_hero.html" %}
<main class="main">

    <div class="container">
        <!-- <div class="main__title">
            <h2>Авторська кондитерська <span>Hansel & Gretel</span></h2>
            <div class="main__title-img"><img src="./img/logo-2.png" alt="Логотип"></div>
        </div> -->
        
        <p class="main__text">Сервисный центр "Gidrobort" является одним из ведущих в Украине центров по обслуживанию автомобильной гидравлики мировых марок грузовых автомобилей, прицепов и полуприцепов, фургонов, микроавтобусов.</p>

        <p class="main__text">Мы также осуществляем подбор и продажу запасных частей для всех вышеназванных транспортных средств.</p>
        <p class="main__text">За основу нашей работы взяты технические стандарты мировых брендов Mercedes, MAN, DAF, Renault Truck, Tata, которые рекомендованы всем ремонтным подразделениям и сервисным службам данных производителей. Наша СТО оснащена специальным инструментом и оборудованием, имеет свои ремонтно-производственные участки, включая участок для ремонта гидробортов, участок для ремонта гидроцилиндров и т.д.</p>
        <p class="main__text">Наш персонал состоит из специалистов высокой квалификации, которые прошли специальное обучение. Наши менеджеры и технические специалисты всегда готовы к решению любых задач, в том числе к выполнению нестандартных и сложных видов ремонта, индивидуальному подбору необходимых запчастей и т.д. На все виды выполненных работ нами предоставляется гарантия. Мы работаем без выходных!</p>
        <p class="main__text">Оплата производится как за наличный, так и за безналичный расчёт.</p>

        
        <div class="line">{{mixins.icon('wrench')}}</div>

        <div class="photos">
            <!-- <h3 class="photos__title">Фото з <a href="#">Instagram</a></h3> -->

            <div class="photos__list">

                <a href="#" class="photos__item">
                    <img src="./img/o-nas-1b.jpg" alt="">
                </a>

                <div class="photos__wrap">
                    <a href="#" class="photos__item">
                        <img src="./img/o-nas-2b.jpg" alt="">
                    </a>
                    <a href="#" class="photos__item">
                        <img src="./img/o-nas-3b.jpg" alt="">
                    </a>
                </div>
                
                <a href="#" class="photos__item">
                    <img src="./img/o-nas-4.jpg" alt="">
                </a>

                <div class="photos__wrap">
                    <a href="#" class="photos__item">
                        <img src="./img/o-nas-5b.jpg" alt="">
                    </a>
                    <a href="#" class="photos__item">
                        <img src="./img/o-nas-6b.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>




</main>

{% include "layouts/_footer.html" %}



    <!-- {# mixin example #}
    {{mixins.icon('facebook')}}


    {# data usage example #}
        {% import "data/data.html" as tests %}
        
        {% for test in tests.list %}
        <li>{{test.title}}</li>
        {% endfor %}
        {# end of example #} -->

        {% endblock %}
