---
title: 'Контакты'
contacts: 'is-active'
---
{% extends "layouts/_layout.html" %}

{% block content %}

{% include "layouts/_header.html" %}

{% include "partials/_hero.html" %}
<main class="main">

    <div class="container">

        <div class="contacts">
            <div class="contacts__inner">
                <div class="contacts__col">
                    <h3>Наш адресс</h3>
                    <p>Киевская область, </p> 
                    <p>пгт. Коцюбинское</p> 
                    <p>ул. Пономарёва, 13</p> 
                </div>

                <div class="contacts__col">
                    <h3>Наши телефоны</h3>
                    <p class="contacts__tel"><a href="tel:+30630325130">+38 (093) 068-03-68</a> Леонид</p>
                    <p class="contacts__tel"><a href="tel:+30630325130">+38 (067) 703-78-58</a> Олег</p>
                    <p>ежедневно с 08:00 до 22:00</p>
                </div>
            </div>
            
            
            
        </div>

        <div class="contacts__map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6669.481366185959!2d30.341715999999998!3d50.492552!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472b332991eb1e1f%3A0x4b24b2cf22999ade!2z0YPQuy4g0J_QvtC90L7QvNCw0YDRkdCy0LAsIDEzLCDQmtC-0YbRjtCx0LjQvdGB0LrQvtC1LCDQmtC40LXQstGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCAwODI5OA!5e1!3m2!1sru!2sua!4v1607518066614!5m2!1sru!2sua" width="1200" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
        
        
    </div>


</main>

{% include "layouts/_footer.html" %}



    <!-- {# mixin example #}
    {{mixins.icon('facebook')}}


    {# data usage example #}
        {% import "data/data.html" as tests %}
        
        {% for test in tests.list %}
        <li>{{test.title}}</li>
        {% endfor %}
        {# end of example #} -->

        {% endblock %}
