---
title: Gidrobort
---
{% extends "layouts/_layout.html" %}

{% block content %}

{% include "layouts/_header.html" %}
<main class="main">

	<div class="main__hero js-hero-animate">
		<div class="slider js-hero-slider">	
			<div class="slider__slide">
				<div class="slide">
					<div class="slide__content">
						<!-- <p class="slide__subtitle">Вишукані</p> -->
						<h1 class="slide__title">Технологическое лидерство</h1>
						<!-- <p class="slide__to-order">На замовленя</p> -->
						<p class="slide__text">Гибкость и клиентоориентированность: способность быстро реализовать заказные решения</p>
						<!-- <div class="slide__button"><a href="#" class="button button--transparent">Дивитися каталог</a></div> -->
					</div>
					<img src="./img/slide3.jpg" alt="">
				</div>
				
			</div>
			<div class="slider__slide">
				
				<div class="slide">
					<div class="slide__content">
						<!-- <p class="slide__subtitle">Вишукані</p> -->
						<h1 class="slide__title">Технологическое лидерство</h1>
						<!-- <p class="slide__to-order">На замовленя</p> -->
						<p class="slide__text">Гибкость и клиентоориентированность: способность быстро реализовать заказные решения</p>
						<!-- <div class="slide__button"><a href="#" class="button button--transparent">Дивитися каталог</a></div> -->
					</div>
					<img src="./img/slide2.jpg" alt="">
				</div>

			</div>
			<div class="slider__slide">
				<div class="slide">
					<div class="slide__content">
						<!-- <p class="slide__subtitle">Вишукані</p> -->
						<h1 class="slide__title">Технологическое лидерство</h1>
						<!-- <p class="slide__to-order">На замовленя</p> -->
						<p class="slide__text">Гибкость и клиентоориентированность: способность быстро реализовать заказные решения</p>
						<!-- <div class="slide__button"><a href="#" class="button button--transparent">Дивитися каталог</a></div> -->
					</div>
					<img src="./img/slide1.jpg" alt="">
				</div>
			</div>
			<div class="slider__slide">
				<div class="slide">
					<div class="slide__content">
						<!-- <p class="slide__subtitle">Вишукані</p> -->
						<h1 class="slide__title">Технологическое лидерство</h1>
						<!-- <p class="slide__to-order">На замовленя</p> -->
						<p class="slide__text">Гибкость и клиентоориентированность: способность быстро реализовать заказные решения</p>
						<!-- <div class="slide__button"><a href="#" class="button button--transparent">Дивитися каталог</a></div> -->
					</div>
					
					<img src="./img/slide4.jpg" alt="">
				</div>
			</div>
		</div>

	</div>

	
	<div class="container">
		<div class="main__title">
			<h2>Бренды с которыми мы работаем</h2>
			<div class="main__title-img"><img src="./img/logo.svg" alt="Логотип"></div>
		</div>

		<div class="brends">
			<div class="brends__item"><img src="./img/brend1.webp" alt=""></div>
			<div class="brends__item"><img src="./img/brend2.webp" alt=""></div>
			<div class="brends__item"><img src="./img/brend3.webp" alt=""></div>
			<div class="brends__item"><img src="./img/brend4.webp" alt=""></div>
			<div class="brends__item"><img src="./img/brend5.webp" alt=""></div>
			<div class="brends__item"><img src="./img/brend6.webp" alt=""></div>
			<div class="brends__item"><img src="./img/brend7.webp" alt=""></div>
			<div class="brends__item"><img src="./img/brend8.svg" alt=""></div>
		</div>

		<!-- <h3 class="main__subtitle">Готуємо вишукані, стильні десерти для ваших особливих подій.</h3>

		<p class="main__text--center main__text">Всі фото на сайті — з нашими виробами!</p>
		<p class="main__text main__text--center"><span>Hansel & Gretel</span> — кондитерська від щирого серця. Ми хочемо донести до вас світові тенденції та секрети смаків з усіх куточків планети. Тут ви зможете знайти нові улюблені смаки, зроблені з любов’ю та турботою.</p>
		<p class="main__text main__text--center"><span>Hansel & Gretel</span> — це наша пристрасть і ми дуже хочемо поділитися своїм захопленням з вами. Подаруйте емоції собі та своїм близьким.</p> -->
		<div class="line">{{mixins.icon('wrench')}}</div>

		<div class="cooks">
			<h3 class="cooks__title">Гидроборты</h3>

			<div class="cooks__list">
				<div class="cooks__item">
					<a href="#" class="cook">
						<div class="cook__img"><img src="./img/bort1.jpg" alt="Торти"></div>
						<h4 class="cook__title">Традиционные гидроборты</h4>
						<!-- <p class="cook__text">Облегчённый 4-х цилиндровый гидроборт для короткого свеса</p> -->
					</a>
				</div>

				<div class="cooks__item">
					<a href="#" class="cook">
						<div class="cook__img"><img src="./img/bort2.jpg" alt="Торти"></div>
						<h4 class="cook__title">Подъемники для цельнометаллических автофургонов</h4>
						<!-- <p class="cook__text">Вишукані французькі тістечка в асортименті</p> -->
					</a>
				</div>

				<div class="cooks__item">
					<a href="#" class="cook">
						<div class="cook__img"><img src="./img/bort3.jpg" alt="Торти"></div>
						<h4 class="cook__title">Колонные подъемники</h4>
						<!-- <p class="cook__text">Вишукані цукерки ручноі роботи</p> -->
					</a>
				</div>

				<div class="cooks__item">
					<a href="#" class="cook">
						<div class="cook__img"><img src="./img/bort4.jpg" alt="Торти"></div>
						<h4 class="cook__title">Выдвижные гидроборты (слайдеры) </h4>
						<!-- <p class="cook__text">Наші чіз-кейки взяли все найкраще від «класичного» чіз-кейку</p> -->
					</a>
				</div>

				<div class="cooks__item">
					<a href="#" class="cook">
						<div class="cook__img"><img src="./img/bort5.jpg" alt="Торти"></div>
						<h4 class="cook__title">Решения для специального назначения</h4>
						<!-- <p class="cook__text">Ми робимо десерти з індивідуальним дизайном для будь-якого заходу та святкового столу</p> -->
					</a>
				</div>
			</div>
		</div>

		<div class="line">{{mixins.icon('wrench')}}</div>

		<h3 class="cooks__title">Запчасти для гидробортов</h3>

		<div class="details">
			<div class="details__item">
				<div class="details__img"><img src="./img/zapchasti-1.jpg" alt=""></div>
				<h4>Боксы, ручки, пластины, зажимы</h4>
			</div>

			<div class="details__item">
				<div class="details__img"><img src="./img/zapchasti-2.jpg" alt=""></div>
				<h4>Гидроилиндры</h4>
			</div>

			<div class="details__item">
				<div class="details__img"><img src="./img/zapchasti-3.jpg" alt=""></div>
				<h4>Компоненты гидроцилиндров</h4>
			</div>

			<div class="details__item">
				<div class="details__img"><img src="./img/zapchasti-4.jpg" alt=""></div>
				<h4>Моторы, насосы, реле</h4>
			</div>

			<div class="details__item">
				<div class="details__img"><img src="./img/zapchasti-5.jpg" alt=""></div>
				<h4>Клапаны и катушки</h4>
			</div>

			<div class="details__item">
				<div class="details__img"><img src="./img/zapchasti-6.jpg" alt=""></div>
				<h4>Шплинты, втулки, валы</h4>
			</div>

			<div class="details__item">
				<div class="details__img"><img src="./img/zapchasti-7.jpg" alt=""></div>
				<h4>Шланги, рукава, трубки</h4>
			</div>

			<div class="details__item">
				<div class="details__img"><img src="./img/zapchasti-8.jpg" alt=""></div>
				<h4>Механические части (скобы, замки, прокладки)</h4>
			</div>

			<div class="details__item">
				<div class="details__img"><img src="./img/zapchasti-9.jpg" alt=""></div>
				<h4>Переключатели и контроллеры</h4>
			</div>

			<div class="details__item">
				<div class="details__img"><img src="./img/zapchasti-10.jpg" alt=""></div>
				<h4>Кабели и разъёмы</h4>
			</div>

			<div class="details__item">
				<div class="details__img"><img src="./img/zapchasti-11.jpg" alt=""></div>
				<h4>Разные электрические части</h4>
			</div>

			<div class="details__item">
				<div class="details__img"><img src="./img/zapchasti-12.jpg" alt=""></div>
				<h4>Разные мелкие запчасти</h4>
			</div>
		</div>	

		
	</div>
	

	<!-- <div class="features">
		<div class="container">
			<h3 class="features__title">У чому наш секрет?</h3>
			<p class="features__subtitle">Одного разу спробувавши наші десерти, ви знову за ними повернетеся. Магія? Трошки. А ще:</p>
			<div class="features__list">
				<div class="features__item">
					<div class="features__icon"><img src="./img/feature1.png" alt=""></div>
					<p class="features__text">Ми доводимо рецептуру до досконалості, щоб ви могли спробувати відразу кілька макарон, цукерку і ще шматочок торта, і при цьому не відчувати тягар.</p>
				</div>

				<div class="features__item">
					<div class="features__icon"><img src="./img/feature2.png" alt=""></div>
					<p class="features__text">Всі десерти мають сертифікати якості і створюються тільки з натуральних продуктів: свіже масло, молоко, яйця, справжні французькі вершки, найкращий бельгійський шоколад.</p>
				</div>

				<div class="features__item">
					<div class="features__icon"><img src="./img/feature3.png" alt=""></div>
					<p class="features__text">Наша кондитерська - справа всього життя. Кожен десерт ми готуємо вручну, а кожен клієнт для нас особливий. Ваш захват - наша залежність.</p>
				</div>
			</div>
		</div>
	</div> -->
<!-- 	
	<div class="container">
		<div class="comments">
			<div class="container">
				<div class="comments__title">Клієнти про наші торти та десерти</div>

				<div class="comments__slider js-comments-slider">
					<div class="comments__slide"><img src="./img/comment1.jpg" alt=""></div>
					<div class="comments__slide"><img src="./img/comment2.jpg" alt=""></div>
					<div class="comments__slide"><img src="./img/comment1.jpg" alt=""></div>
					<div class="comments__slide"><img src="./img/comment2.jpg" alt=""></div>
					<div class="comments__slide"><img src="./img/comment1.jpg" alt=""></div>
					<div class="comments__slide"><img src="./img/comment2.jpg" alt=""></div>
					<div class="comments__slide"><img src="./img/comment1.jpg" alt=""></div>
					<div class="comments__slide"><img src="./img/comment2.jpg" alt=""></div>
				</div>
			</div>


		</div>

		<div class="line">{{mixins.icon('macaron')}}</div>

		<div class="photos">
			<h3 class="photos__title">Фото з <a href="#">Instagram</a></h3>

			<div class="photos__list">

				<a href="#" class="photos__item">
					<img src="./img/photo1.jpg" alt="">
				</a>

				<div class="photos__wrap">
					<a href="#" class="photos__item">
						<img src="./img/photo2.jpg" alt="">
					</a>
					<a href="#" class="photos__item">
						<img src="./img/photo1.jpg" alt="">
					</a>
				</div>
				
				<a href="#" class="photos__item">
					<img src="./img/photo2.jpg" alt="">
				</a>

				<div class="photos__wrap">
					<a href="#" class="photos__item">
						<img src="./img/photo2.jpg" alt="">
					</a>
					<a href="#" class="photos__item">
						<img src="./img/photo1.jpg" alt="">
					</a>
				</div>
			</div>
		</div>
	</div> -->
	



</main>

{% include "layouts/_footer.html" %}



	<!-- {# mixin example #}
	{{mixins.icon('facebook')}}


	{# data usage example #}
		{% import "data/data.html" as tests %}
		
		{% for test in tests.list %}
		<li>{{test.title}}</li>
		{% endfor %}
		{# end of example #} -->

		{% endblock %}
