<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="logo logo--bottom">
                <img src="./img/logo.svg" alt="Логотип" width="120" height="120">
            </div>

            <div class="footer__contact">
                <p>Связаться по телефону</p>
                    <a href="tel:+30630325130">+38 (077) 777-77-77</a>
                    <p>ежедневно с 08:00 до 22:00</p>
            </div>

            <ul class="footer__menu">
                <li>
                    <a href="./gidroborts.html">Гидроборты</a>
                </li>
                <li>
                    <a href="#">Запчасти</a>
                </li>
                <li>
                    <a href="#">Сендвич-панели</a>
                </li>
                <li>
                    <a href="./about-me.html"{{about}}>О компании</a>
                </li>
                <li>
                    <a href="./contacts.html" {{macarons}}>Контакты</a>
                </li>
            </ul>

           

            <!-- <div class="footer__social">
                <div class="social">
                    <ul class="social__list">
                        <li class="social__item">
                            <a href="" class="social__link">{{mixins.icon('fb')}}</a>
                        </li>
                        <li class="social__item">
                            <a href="" class="social__link">{{mixins.icon('insta')}}</a>
                        </li>
                    </ul>
                </div>
            </div> -->
            <div class="footer__map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12078.666470707842!2d30.389033445725342!3d50.4741207245484!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ccff7abd0169%3A0xa3fe1bb3efc2482!2z0KHRltC70YzQv9C-!5e0!3m2!1sru!2sua!4v1607429973125!5m2!1sru!2sua" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>

        
        <p class="footer__copyright">© 2020. <b>Gidrobort</b></p>
        
    </div>
</footer>