<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="logo logo--bottom">
                <img src="./img/logo.svg" alt="Логотип" width="120" height="120">
            </div>

            <div class="footer__contact">
                <h3>Контактная информация</h3>
                <p class="footer__tel"><a href="tel:+30630325130">+38 (093) 068-03-68</a> Леонид</p>
                <p class="footer__tel"><a href="tel:+30630325130">+38 (067) 703-78-58</a> Олег</p>

                <p>ежедневно с 08:00 до 22:00</p>
            </div>

            <ul class="footer__menu">
                <li>
                    <h3>Навигация по сайту</h3>
                </li>
                <li>
                    <a href="./gidroborts.html">Гидроборты</a>
                </li>
                <li>
                    <a href="#">Запчасти</a>
                </li>
                <li>
                    <a href="#">Сендвич-панели</a>
                </li>
                <li>
                    <a href="./about-me.html"{{about}}>О компании</a>
                </li>
                <li>
                    <a href="./contacts.html" {{macarons}}>Контакты</a>
                </li>
            </ul>

           

            <!-- <div class="footer__social">
                <div class="social">
                    <ul class="social__list">
                        <li class="social__item">
                            <a href="" class="social__link">{{mixins.icon('fb')}}</a>
                        </li>
                        <li class="social__item">
                            <a href="" class="social__link">{{mixins.icon('insta')}}</a>
                        </li>
                    </ul>
                </div>
            </div> -->
            <div class="footer__map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5076.42063531325!2d30.336605563931688!3d50.49304330968248!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472b332991eb1e1f%3A0x4b24b2cf22999ade!2z0YPQuy4g0J_QvtC90L7QvNCw0YDRkdCy0LAsIDEzLCDQmtC-0YbRjtCx0LjQvdGB0LrQvtC1LCDQmtC40LXQstGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCAwODI5OA!5e0!3m2!1sru!2sua!4v1607516523622!5m2!1sru!2sua" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>

        
        <p class="footer__copyright">© 2020. <b>Gidrobort</b></p>
        
    </div>
</footer>