<header class="header js-header-animate">
    <div class="header__top">
        <div class="container">
            <button class="header__burger burger js-burger">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <nav class="main-nav">
                <a href="./page.html" class="logo">
                    <img src="./img/logo.svg" alt="Логотип">
                </a>
                
                <ul class="main-nav__list js-main-nav">

                    <li class="main-nav__item">
                        <a href="./page.html#gidrobords" class="main-nav__link {{gidroborts}}">Гидроборты</a>
                    </li>
                    <li class="main-nav__item">
                        <a href="./page.html#zapchasti" class="main-nav__link {{zapchasti}}">Запчасти</a>
                    </li>
                    <li class="main-nav__item">
                        <a href="#" class="main-nav__link {{panels}}">Сендвич-панели</a>
                    </li>
                    <li class="main-nav__item">
                        <a href="./about-me.html" class="main-nav__link {{about}}">О компании</a>
                    </li>
                    <li class="main-nav__item">
                        <a href="./contacts.html" class="main-nav__link {{contacts}}">Контакты</a>
                    </li>
                    
                    <!-- <li class="main-nav__item">
                        <a href="#" class="main-nav__link ">Весільні торти</a>
                    </li> -->
                </ul>
            </nav>
        </div>
    </div>
    
    <div class="header__bottom">
        <div class="container">

            <div class="header__inner">
                <div class="header__title">

                    <p class="header__name">Диагностика, ремонт, установка гидроборта и его обслуживание.</p>
                    <p class="header__name">Изготовление и ремонт фургонов.</p>
                </div>
    
                <!-- <div class="social">
                    <ul class="social__list">
                        <li class="social__item">
                            <a href="" class="social__link">{{mixins.icon('fb')}}</a>
                        </li>
                        <li class="social__item">
                            <a href="" class="social__link">{{mixins.icon('insta')}}</a>
                        </li>
                    </ul>
                </div> -->

                <div class="header__contact">
                    <p>Связаться по телефону</p>
                    <p class="header__tel"><a href="tel:+30630325130">+38 (093) 068-03-68</a> Леонид</p>
                    <p class="header__tel"><a href="tel:+30630325130">+38 (067) 703-78-58</a> Олег</p>
                    <p>ежедневно с 08:00 до 22:00</p>
                </div>

                <!-- <div class="bag js-bag">
                    <span></span>
                    <a href="bag.html" class="bag__icon">{{mixins.icon('bag')}}</a>
                    <div class="bag__text">Кошик</div>
                </div> -->
            </div>
            

        </div>
    </div>
</header>